@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    min-width: 400px; /* TO ASK */
}

header {    
    position: absolute;
    text-align: center;

    width: 100%;
    height: 144px;
    
    position: fixed;    
    top: 0px;
}

header div {    
    display: flex;
    justify-content: space-around;  /* Horizontal */
    align-items: center;            /* Vertical   */    

    margin-top: 50px;

    padding-left: 20px;
    padding-right: 20px;
}

header div img {
    width: 60.53px;
}

header div nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    
    list-style-type: none;

    padding: 10px;
    gap: 60px;

    width: 295px;
    height: 22px;
    left: 544px;
    top: 85px;
}

header div nav a {
    display: block;
    text-decoration: none;

    color: #6B708D;
}

header a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 130%;
}

#home-link{
    color: #072AC8;;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items:center;

    text-decoration: none;

    background-color: #072AC8;
    color: #FFFFFF;

    width: 150px;
    height: 52px;

    left: 1120px;
    top: 70px;  

    font-weight: 500;
}

.nav-top {
    overflow: hidden;
}

/* Change the color of links on hover */
.nav-top a:hover {
    font-weight: bolder;
}
  
/* Hide the link that should open and close the nav-top on small screens */
.icon {
    display: none;
}

.vertical-menu {
    display: flex;
    justify-content: left;
}

.vertical-menu ul {
    text-align: left;
    margin-left: 50px;
    list-style-type: none;
}

@media screen and (max-width: 767px) {
    .nav-top a {
        display: none;
    }
    .header-button {
        display: none;
    }    
    .icon {
        display: block;
    }    
}

