@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    min-width: 400px; /* TO ASK */
}

header {   
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2rem;
    width: 100%;

    background-color: aliceblue;
}

.header-logo {
    max-width: 5rem;
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    
    list-style-type: none;
}

.nav-list {
    display: flex;
    list-style-type: none;    
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;

    color: #6B708D;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
}

#home-link{
    color: #072AC8;;
}

a.header-button {
    text-decoration: none;

    width: 150px;
    height: 50px;

    padding: 18px 33px;

    background-color: #072AC8;
    color: #FFFFFF;

    font-weight: 500;
}

.vertical-menu ul {
    text-align: left;
    margin-left: 50px;
    list-style-type: none;
}

.vertical-menu ul a {
    text-decoration: none;
}

/* Hide the link that should open and close the nav-top on small screens */
.burguer-icon-on {
    display: none;
}

.burguer-icon-off {
    display: none;
}

/* Hide the link that should open and close the nav-top on small screens */
.vertical-menu {
    display: none;
    position: fixed; 
}

@media screen and (max-width: 767px) {
    .header-button {
        display: none;
    }

    .burguer-icon-on,
    .burguer-icon-off {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .burguer-icon-on{
        color: black;
    }
    .burguer-icon-off {
        color: #FFFFFF;
    }

    .nav {
        opacity: 0;
        visibility: hidden;

        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        padding: 2rem;
        background-color: #6B708D;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
    }
    .nav-list li a {
        color: #FFFFFF
    }
      
}


